/*#head {
 width:
 height:
 background-color: 
}  */

#logo {
  width: 200px;
  height: 100px;
  background-color: black;
  position: relative;
  left: 1100px;
  bottom: 40px;
}


body, html{
  padding: 0px;
}

body, b {
  color:  #919192;
  position: relative;
  top: 10px;
}
     
#name {
  color: black;
  width: 150px;
  height: 20px; 
  position: relative;
  bottom: 70px;
  left: 50px;
}


.suchen {
 text-align: center;
}



/*-----Navigationbereich-----*/

.suche {
 float: right;
 position: relative;
 right: 10px;
 top: 5px; 
}


.menu {
  position: relative;
  bottom: 40px;
  top: 1px;
  margin: auto;
  width: auto;
  height: 23px;
  margin-top: 10px;
}

ul li {
  position: relative;
  list-style: none;
  float: left;
  margin-left: 30px;
  width: 100px;
  height: 30px;
}

ul li a { 
  text-decoration: none;
  font-family: cursive;
  display: block;
  color: black;
}


ul li a:hover {
    -webkit-transform: rotate(1deg);
}


ul ul {
  position: absolute;
  visibility: hidden;
}


ul ul li a {
  clear: both;
  width: auto;
  display: block;
  text-align: center;
  width: 150px;
  height: 30px;
  display: block;
  border-top: 2px solid white;
  margin-left: -100px;
  color:  #0520b9;
  background-color: white;
}


.menu ul li:hover ul {
  visibility: visible;

}



/*-----Fotobereich-----*/

.slide {
 top: 10px;
}




/*-----Divbereich-----*/


button {
  border-style: solid;
  border-radius: 5px; 
  background-color: white;
}


#image {
  position: absolute;
  top: 230px;
  width: auto;
  height: auto;
  z-index:1;
}


#content {
  position: absolute;
  width: 1333px;
  height: 840px;
  z-index:2;
  background: transparent;
  top: 120px;
}


#off {
  width: 441px;
  height: 520px;
  background-color: #bebec0;
  left: 350px;
  opacity: 0.8;
  color:  #1832c4;
  text-align: center;
  font-weight: bold;
}


#offproj {
 top: 38px;
 width: 441px;
 height: 300px;
 background-color:  #bebec0;
 font-weight: lighter;
}


#offproj2 {
 position: relative;
 bottom: 10px;
 width: 441px;
 height: 220px;
 background-color:  #bebec0;
 font-weight: lighter;
 visibility: visible;
}


#offproj, a {
 text-decoration: none;
 color:   #0721b2;
}


#zu {
  width: 441px;
  height: 520px;
  background-color: #bebec0;
  position: absolute;
  bottom: 10px;
  left: 445px;
  opacity: 0.8;
  color:  #1832c4;
  text-align: center;
  font-weight: bold;
}


#zuproj {
 top: 38px;
 width: 441px;
 height: 300px;
 background-color:  #bebec0;
 font-weight: lighter;
}



#zuproj2 {
 position: relative;
 bottom: 10px;
 width: 441px;
 height: 220px;
 background-color:  #bebec0;
 font-weight: lighter;
 visibility: visible;
}


#service {
  width: 441px;
  height: 520px;
  background-color: #bebec0;
  left: 890px;
  opacity: 0.8;
  position: absolute;
  bottom: 20px;
  color:  #1832c4;
  text-align: center;
  font-weight: bold;
}

#services {
 top: 38px;
 width: 441px;
 height: 300px;
 background-color:  #bebec0;
 font-weight: lighter;
}


#services2 {
 position: absolute;
 left: -220px;
 top: -10px;
 width: 441px;
 height: 220px;
 background-color:  #bebec0;
 font-weight: lighter;
 visibility: visible;
 
}


#zuproj, a {
 text-decoration: none;
 color:  #1832c4;
}

#zuproj, b {
  color:   #0520b9;
}





/*-----footer-----*/

#foot {
 width: auto;
 height: 20px;
 background: #edeef3;
 border-style: none;
}


#faq {
 /*width:*/
 height: 20px;
}

#nutzung {
 /*width:*/
 height: 20px;
 position: absolute;
 left: 90px;
 top: 0px;
}

#daten {
 /*width:*/
 height: 20px;
 position: absolute;
 left: 360px;
 bottom: 1px;
 top: 0px;
}

#cap {
 /*width:*/
 height: 20px;
 position: absolute;
 left: 680px;
 top: 0px;
}

#but {
 /*width: */
 height: 20px;
 position: absolute;
 left: 1183px;
 bottom: 1px;
 top: 0px;
}



/*-----CONTENT DIV SERVICES-----*/


#listecapability {
  width: 152px;
  height: 280px;
  background-color: white;
  position: relative;
  top: 10px;
}

#titel {
  width: 152px;
  height: 20px;
  background-color: #edeef3;
}

  
  #liste {
  width: 152px;
  height: 260px;
  background-color: white;
}

#neueservice {
  width: 250px;
  height: 200px;
  background-color: white;
  position: relative;
  bottom: 230px;
  left: 170px;
}


#titele { 
  position: absolute;
  top: 9px;
  width: 153px;
  height: 20px;
  background-color: #edeef3;
}


#list {
  position: absolute;
  top: 29px;
  width: 153px;
  height: 180px;
  background-color: white;
  /*overflow: auto;*/
}


#neueservicee {
  width: 250px;
  height: 150px;
  background-color:  white;
  position: relative;
  left: 170px;
  top: 35px;
}

#bearbeiten {
  position: relative;
  top: 14px;
  left: 15px;
  width: 220px;
  height: 22px; 
  background-color: #bebec0;
}





/*-----CONTENT DIV CAPABILITY-----*/


#listeanforderung {
  width: 152px;
  height: 280px;
  background-color: white;
  position: relative;
  top: 10px;
}

#titre {
  width: 152px;
  height: 20px;
  background-color: #edeef3;
}


#listanf {
  width: 120px;
  height: 260px;
  background-color: yellow;
  overflow: auto;
}

#neuecapability {
  width: 250px;
  height: 200px;
  background-color: white;
  position: relative;
  bottom: 230px;
  left: 170px;
}


#titeleee { 
  position: absolute;
  top: 9px;
  width: 153px;
  height: 20px;
  background-color: #edeef3;
}


#lists {
  position: absolute;
  top: 29px;
  width: 153px;
  height: 180px;
  background-color: white;
}


#neuecapabilitie {
  width: 250px;
  height: 150px;
  background-color:  white;
  position: relative;
  left: 170px;
  top: 35px;
}

#bearbeitene {
  position: relative;
  top: 14px;
  left: 15px;
  width: 220px;
  height: 22px; 
  background-color: #bebec0;
}



/*-----CONTENT DIV ANFORDERUNG-----*/


#listeprojekte {
  width: 152px;
  height: 280px;
  background-color: white;
  position: relative;
  top: 10px;
}

#titrre {
  width: 152px;
  height: 20px;
  background-color: #edeef3;
}


#listproj {
  width: 120px;
  height: 260px;
  background-color: yellow;
  overflow: auto;
}

#neueanforderung {
  width: 250px;
  height: 200px;
  background-color: white;
  position: relative;
  bottom: 230px;
  left: 170px;
}


#titeleee4 { 
  position: absolute;
  top: 9px;
  width: 441px;
  height: 20px;
  background-color: #edeef3;
}


#listes {
  position: absolute;
  top: 29px;
  width: 120px;
  height: 180px;
  background-color: yellow;
  overflow: auto;
}


#neueanforde {
  width: 280px;
  height: 150px;
  background-color:  white;
  position: relative;
  left: 80px;
  top: 35px;
}

#bearbeitenen {
  position: relative;
  top: 14px;
  left: 15px;
  width: 250px;
  height: 22px; 
  background-color: #bebec0;
}


button {
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 150px;
  height: 20px;
}


#infos {
 width: 1333px;
 height: 100px;
 background-color: #919192;
 color: mediumblue;
 z-index: 2;
 position: absolute;
 bottom: 845px;
}

 h1 {
 font-size: 17px;
 text-align: center;
}

#suchen1 {
 text-align: center;
 width: 120px;
 height: 50px;
}


#suchen2 {
 width: 152px;
 height: 210px;  
 background-color: white;
 overflow: auto;   
}

#suchen13 {
 text-align: center;
 width: 120px;
 height: 50px;
}

#suchen14 {
 width: 152px;
 height: 210px;  
 background-color: white;
 overflow: auto;   
}

#suchen15 {
 text-align: center;
 width: 152px;
 height: 50px;
}

#suchen16 {
 width: 152px;
 height: 210px;  
 background-color: white;
 overflow: auto;   
}

.suchen17 {
 text-align: center;
 width: 152px;
 height: 40px;
} 

#suchen18 {
 width: 152px;
 height: 140px;  
 background-color: white;
 overflow: auto;   
}

/*.suchen19 {
 text-align: center;
 width: 120px;
 height: 40px;
} */


#suchen20 {
 width: 153px;
 height: 140px;  
 background-color: white;
 overflow: auto;   
}