/*#head {
 width:
 height:
 background-color: 
} */

#logo {
  width: 200px;
  height: 100px;
  background-color: black;
  position: relative;
  left: 1100px;
  bottom: 40px;
}


body, html{
  padding: 0px;
}

body, b {
  color:  #919192;
  position: relative;
  top: 10px;
}


body, header, b {
 color: #0520b9;

}
     
#name {
  color: black;
  width: 150px;
  height: 20px; 
  position: relative;
  bottom: 70px;
  left: 50px;
}


.suchen {
 text-align: center;
}



/*-----Navigationbereich-----*/

.suche {
 float: right;
 position: relative;
 right: 10px;
 top: 5px; 
}


.menu {
  position: relative;
  bottom: 40px;
  top: 1px;
  margin: auto;
  width: auto;
  height: 23px;
  margin-top: 10px;
}

ul li {
  position: relative;
  list-style: none;
  float: left;
  margin-left: 30px;
  width: 100px;
  height: 30px;
}

ul li a { 
  text-decoration: none;
  font-family: cursive;
  display: block;
  color: black;
}


ul li a:hover {
    -webkit-transform: rotate(1deg);
}


ul ul {
  position: absolute;
  visibility: hidden;
}


ul ul li a {
  clear: both;
  width: auto;
  display: block;
  text-align: center;
  width: 150px;
  height: 30px;
  display: block;
  border-top: 2px solid white;
  margin-left: -100px;
  color:  #0520b9;
  background-color: white;
}


.menu ul li:hover ul {
  visibility: visible;

}



/*-----Fotobereich-----*/

.slide {
 top: 10px;
}




/*-----Divbereich-----*/


#image {
  position: absolute;
  top: 230px;
  width: auto;
  height: 100px;
  z-index:1;
}


#content {
  position: absolute;
  width: 1000px;
  height: 840px;
  z-index:2;
  background: transparent;
  left: 180px;
  top: 120px;
}




.element {
 
width: 800px;
 
height: 800px;
 
background-color:  #d3d3d8;
 
float: right;
 
text-align: center;

align-content: center;

}




.element a {
 
color:  #1e1ea0;
 
font-weight: bold;
 
position: relative;
 
top: 30px;
 
left: 10px;

}


.element input {
 
position: relative;
 
left: 10px;
 
width: 50%;

}


.element button{
 
position: relative;
 
left: 500px;

}


button {
  border-style: solid;
  border-radius: 5px; 
  background-color: white;
}



input {
  
border-radius: 5px; 
  
background-color: white;

}






table, th, td {
    
border: 1px solid white; 
opacity: 0.9;

}


table{
    
width:90%;
    
align-content: center; 
    
text-align: center;
    
margin: 0 auto;

}


th,td{
    
background-color:gainsboro;
   
color: #0520b9;
   
padding: 40px;

}





table input{
    
width: 100%;
    
    

}


table button {
    
width: 100px;
    
height: 700px;

}




/*-----footer-----*/

#foot {
 width: auto;
 height: 20px;
 color: black;
 border-style: none;
 background:   #edeef3;
}

#faq {
 /*width: */
 height: 20px;
}

#nutzung {
 /*width: */
 height: 20px;
 position: absolute;
 left: 90px;
 top: 922px;
}

#daten {
 /*width: */
 height: 20px;
 position: absolute;
 left: 360px;
 top: 922px;
}

#cap {
 /*width: */
 height: 20px;
 position: absolute;
 left: 590px;
 top: 922px;
}

#but {
 /*width: */
 height: 20px;
 position: absolute;
 left: 1175px;
 bottom: 1px;
 top: 922px;
 font-weight: 300;
}
