#logo {
  width: 200px;
  height: 100px;
  background-color: black;
  float: right;
  position: relative;
  bottom: 15px;
}

body, a {
  color: black;
  position: relative;
  top: 10px;
}

#name {
  width: 150px;
  height: 20px;
  color: white;
  background-color: black;
  position: relative;
  top: 40px;
  margin-right: -10px;
}



/*-----effet navigation-----*/


.suche {
 position: center;
 margin-left: 100px;
 float: right;
}


.menu {
  position: relative;
  bottom: 50px;
  margin: auto;
  width: auto;
  height: 35px;
  margin-top: 10px;
  background-color: black;
}

ul li {
  position: relative;
  list-style: none;
  float: left;
  margin-left: 30px;
  width: 100px;
  height: 30px;
}

ul li a { 
  text-decoration: none;
  font-family: cursive;
  display: block;
  color: white;
}


ul li a:hover {
    -webkit-transform: rotate(1deg);
}


ul ul {
  position: absolute;
  visibility: hidden;
}


ul ul li a {
  clear: both;
  width: auto;
  display: block;
  text-align: center;
  width: 100px;
  height: 30px;
  display: block;
  border-top: 2px solid white;
  margin-left: -90px;
  background-color: blue;
}


.menu ul li:hover ul {
  visibility: visible;

}



/*-----effet animation-----*/

.slider {
  position: relative;
  top: 50px;
  width: 1333px;
  overflow: hidden;
}


.slides {
 width: calc(1333px * 3);
 animation: glisse 20s infinite;
}


.slide {
  float: left;
}
  

@keyframes glisse {
  0% {
     transform: translateX(0);
}
  33% {
     transform: translateX(-1333px);
}
  66% {
     transform: translateX(-2666px);
}
  100% {
     transform: translateX(0);
}
}




/*-----div apres l'animation-----*/

.reste {
 width: auto;
 height: 300px;
 background-color: white;
 position: relative;
 top: 20px;
}

#akprojekte {
 width: 500px;
 height: 296px;
 background-color: white;
 float: right;
 border-style: solid;
 border-color:  #e1d6c6;
 border-radius: 5px;
}

.events {
 width: 400px;
 height: 145px;
 background-color: white;
 position: relative;
 float: right;
 margin-right: 10px;
 border-style: solid;
 border-color:  #e1d6c6;
 border-radius: 5px; 
}

.news {
 width: 400px;
 height: 135px;
 background-color: white;
 position: relative;
 float: right;
 margin-right: 10px;
 top: 10px;
 border-style: solid;
 border-color:  #e1d6c6;
 border-radius: 5px;
}


.mhp {
 width: 400px;
 height: 296px;
 text-align: justify;
}




/*-----footer-----*/

footer {
  color: red;
  text-shadow: 2px 2px 3px black;
}
