/*#head {
 width:
 height:
 background-color: 
}  */

#logo {
  width: 200px;
  height: 100px;
  background-color: black;
  position: relative;
  left: 1100px;
  bottom: 40px;
}


body, html{
  padding: 0px;
}

body, b {
  color:  #919192;
  position: relative;
  top: 10px;
}
     
#name {
  color: black;
  width: 150px;
  height: 20px; 
  position: relative;
  bottom: 70px;
  left: 50px;
}


.suchen {
 text-align: center;
}

/*.suchen input{
    width: 90px;
    
} */

#search {
    width: 90px;
}



/*-----Navigationbereich-----*/

.suche {
 float: right;
 position: relative;
 right: 10px;
 top: 5px; 
}


.menu {
  position: relative;
  bottom: 40px;
  top: 1px;
  margin: auto;
  width: auto;
  height: 23px;
  margin-top: 10px;
}

ul li {
  position: relative;
  list-style: none;
  float: left;
  margin-left: 30px;
  width: 100px;
  height: 30px;
}

ul li a { 
  text-decoration: none;
  font-family: cursive;
  display: block;
  color: black;
}


ul li a:hover {
    -webkit-transform: rotate(1deg);
}


ul ul {
  position: absolute;
  visibility: hidden;
}


ul ul li a {
  clear: both;
  width: auto;
  display: block;
  text-align: center;
  width: 150px;
  height: 30px;
  display: block;
  border-top: 2px solid white;
  margin-left: -100px;
  color:  #6e6e71;
  background-color: white;
}


.menu ul li:hover ul {
  visibility: visible;

}



/*-----Fotobereich-----*/

.slide {
 top: 10px;
}




/*-----Divbereich-----*/


button {
  border-style: solid;
  border-radius: 5px; 
  background-color: white;
}


#image {
  position: absolute;
  top: 230px;
  width: auto;
  height: auto;
  z-index:1;
}


#content {
  position: absolute;
  width: 1000px;
  z-index:2;
  background: transparent;
  left: 180px;
  top: 100px;
}


#off {
  width: 330px;
  height: 520px;
  background-color: #bebec0;
  left: 350px;
  opacity: 0.8;
  color:  #1832c4;
  text-align: center;
  font-weight: bold;
}


#offproj {
 top: 38px;
 width: 330px;
 height: 300px;
 background-color: black;
 font-weight: lighter;
}


#offproj2 {
 position: relative;
 bottom: 10px;
 width: 330px;
 height: 220px;
 background-color: white;
 font-weight: lighter;
 visibility: visible;
}


#offproj, a {
 text-decoration: none;
 color:   #0721b2;
}


#zu {
  width: 330px;
  height: 520px;
  background-color: #bebec0;
  position: absolute;
  bottom: 10px;
  left: 350px;
  opacity: 0.8;
  color:  #1832c4;
  text-align: center;
  font-weight: bold;
}


#zuproj {
 top: 38px;
 width: 330px;
 height: 300px;
 background-color: black;
 font-weight: lighter;
}



#zuproj2 {
 position: relative;
 bottom: 10px;
 width: 330px;
 height: 220px;
 background-color: white;
 font-weight: lighter;
 visibility: visible;
}


#service {
  width: 330px;
  height: 520px;
  background-color: #bebec0;
  left: 700px;
  opacity: 0.8;
  position: absolute;
  bottom: 20px;
  color:  #1832c4;
  text-align: center;
  font-weight: bold;
}

#services {
 top: 38px;
 width: 330px;
 height: 300px;
 background-color: black;
 font-weight: lighter;
}


#services2 {
 position: absolute;
 left: -165px;
 top: -10px;
 width: 330px;
 height: 220px;
 background-color: white;
 font-weight: lighter;
 visibility: visible;
}


#zuproj, a {
 text-decoration: none;
 color:  #1832c4;
}

#zuproj, b {
  color:   #0520b9;
}





/*-----footer-----*/

#foot {
 width: auto;
 height: 160px;
 background-color:   #edeef3;
 border-style: none;
}



/*-----CONTENT DIV SERVICES-----*/


#listecapability {
  width: 120px;
  height: 280px;
  background-color: white;
  position: relative;
  top: 10px;
}

#titel {
  width: 120px;
  height: 20px;
  background-color: blue;
}


#liste {
  width: 120px;
  height: 260px;
  background-color: white;
}

#neueservice {
  width: 190px;
  height: 200px;
  background-color: white;
  position: relative;
  bottom: 230px;
  left: 140px;
}


#titele { 
  position: absolute;
  top: 9px;
  width: 120px;
  height: 20px;
  background-color: blue;
}


#list {
  position: absolute;
  top: 29px;
  width: 120px;
  height: 180px;
  background-color: white;
  /*overflow: auto;*/
}


#neueservicee {
  width: 190px;
  height: 150px;
  background-color:  #69719d;
  position: relative;
  left: 140px;
  top: 35px;
}

#bearbeiten {
  position: relative;
  top: 14px;
  left: 15px;
  width: 160px;
  height: 22px; 
  background-color: black;
}


#suchen16 {
 width: 120px;
 height: 210px;  
 background-color: white;
 overflow: auto;   
}

#suchen15 {
 text-align: center;
 width: 120px;
 height: 50px;
}

/*.suchen17 {
 text-align: center;
 width: 120px;
 height: 40px;
} */

#suchen18 {
 width: 120px;
 height: 140px;  
 background-color: white;
 overflow: auto;   
}

/*.suchen19 {
 text-align: center;
 width: 120px;
 height: 40px;
} */


#suchen20 {
 width: 120px;
 height: 140px;  
 background-color: white;
 overflow: auto;   
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}




/*-----CONTENT DIV CAPABILITY-----*/


#listeanforderung {
  width: 120px;
  height: 280px;
  background-color: white;
  position: relative;
  top: 10px;
}

#titre {
  width: 120px;
  height: 20px;
  background-color: blue;
}


#listanf {
  width: 120px;
  height: 260px;
  background-color: yellow;
  overflow: auto;
}

#neuecapability {
  width: 190px;
  height: 200px;
  background-color: white;
  position: relative;
  bottom: 230px;
  left: 140px;
}


#titeleee { 
  position: absolute;
  top: 9px;
  width: 120px;
  height: 20px;
  background-color: blue;
}


#lists {
  position: absolute;
  top: 29px;
  width: 120px;
  height: 180px;
  background-color: white;
  /*overflow: auto;*/
}


#neuecapabilitie {
  width: 190px;
  height: 150px;
  background-color:  #69719d;
  position: relative;
  left: 140px;
  top: 35px;
}

#bearbeitene {
  position: relative;
  top: 14px;
  left: 15px;
  width: 160px;
  height: 22px; 
  background-color: black;
}

#suchen14 {
 width: 120px;
 height: 210px;  
 background-color: white;
 overflow: auto;   
}

#suchen13 {
 text-align: center;
 width: 120px;
 height: 50px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}




/*-----CONTENT DIV ANFORDERUNG-----*/


#listeprojekte {
  width: 120px;
  height: 280px;
  background-color: white;
  position: relative;
  top: 10px;
  
  
}


#titrre {
  width: 120px;
  height: 20px;
  background-color: blue;
}


#listproj {
  width: 120px;
  height: 260px;
  background-color: yellow;
  
}

#neueanforderung {
  width: 190px;
  height: 200px;
  background-color: white;
  position: relative;
  bottom: 230px;
  left: 140px;
}


#titeleee4 { 
  position: absolute;
  top: 9px;
  /*width: 120;*/
  width: 330px;
  height: 20px;
  background-color: blue;
}


#listes {
  position: absolute;
  top: 29px;
  width: 120px;
  height: 180px;
  background-color: yellow;
  overflow: auto;
}


#neueanforde {
 /* width: 190px;
  height: 150px; */
  background-color:  #69719d;
  /*position: relative;*/
  position:absolute;
  left: 70px;
  top: 35px;
  width: 190px;
  height: 150px;
}

#bearbeitenen {
  position: relative;
  top: 14px;
  left: 15px;
  width: 160px;
  height: 22px; 
  background-color: black;
}


#suchen1 {
 text-align: center;
 width: 120px;
 height: 50px;
}

#suchen2 {
 width: 120px;
 height: 210px;  
 background-color: white;
 overflow: auto;   
}



.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}