/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.11.2018, 13:16:10
    Author     : ncypr
*/

body, b {
  color:  #919192;
  position: relative;
  top: 10px;
}

.element {
 width: 490px;
 height: 210px;
 background-color:  #d3d3d8;
 float: right;
 text-align: center;
 align-content: center;
}


.element a {
 color:  #1e1ea0;
 font-weight: bold;
 position: relative;
 top: 30px;
 left: 10px;
}
.element input {
 position: relative;
 left: 10px;
 width: 50%;
}
.element button{
 position: relative;
 left: 500px;
}

button {
  border-style: solid;
  border-radius: 5px; 
  background-color: white;
}

input {
  border-radius: 5px; 
  background-color: white;
}
/*
.neue ul li:hover ul {
  visibility: visible;

}  */

ul ul li a {
  clear: both;
  width: auto;
  display: block;
  text-align: center;
  width: 150px;
  height: 30px;
  display: block;
  border-top: 2px solid white;
  margin-left: -100px;
  color:   #0520b9;
  background-color: white;
}

#menu ul li:hover ul {
  visibility: visible;

}

ul li {
  position: relative;
  list-style: none;
  float: left;
  margin-left: 30px;
  width: 100px;
  height: 30px;
}
ul li a { 
  text-decoration: none;
  font-family: cursive;
  display: block;
  color: black;
}

#suchen {
 
position: absolute;
left: 570px;
}





/*-----Navigationbereich-----*/

#suche {
 position: center;
 margin-left: 100px;
 float: right;
/* border: ;
 border-color: ;  */ 
}


#menu {
  position: relative;
  bottom: 40px;
  top: 1px;
  margin: auto;
  width: auto;
  height: 23px;
  margin-top: 10px;
}

ul li a:hover {
    -webkit-transform: rotate(1deg);
}
ul ul {
  position: absolute;
  visibility: hidden;
}



table, th, td {
    border: 1px solid white; opacity: 0.9;
}
table{
    width:50%;
    align-content: center; 
    text-align: center;
    margin: 0 auto;
}
th,td{
    background-color:gainsboro;
   color: #0520b9;
   padding: 15px;
}



table input{
    width: 100%;
    
    
}
table button{
    width: 100px;
    height: 30px;
}

#foot{
    background: bisque;
}


#image {
  position: absolute;
  top: 348px;
  width: auto;
  height: auto;
  z-index:1;
}


#content {
  position: absolute;
  width: 1000px;
  z-index:2;
  background: transparent;
  left: 180px;
  top: 100px;
}


#logo {
  width: 200px;
  height: 100px;
  background-color: black;
  position: relative;
  left: 1100px;
  bottom: 40px;
}


#name {
  color: black;
  width: 150px;
  height: 20px; 
  position: relative;
  bottom: 70px;
  left: 50px;
}


/*-----footer-----*/

#foot {
 width: auto;
 height: 100px;
 background-color:   #edeef3;
 border-style: none;
}

