#logo {
  width: 200px;
  height: 100px;
  background-color: black;
  position: relative;
  left: 1250px;
  bottom: 15px;
}


body, b {
  background:  #D358F7;
  position: relative;
  top: 10px;
}
   
#name {
  color: black;
  width: 150px;
  height: 20px;
  position: relative;
  top: 40px;
  left: 15px;
}

.suchen {
 text-align: center;
}



/*-----Navigationbereich-----*/

.suche {
 position: center;
 margin-left: 100px;
 float: right;
 border: solid;
 border-color: #808089; 
}


.menu {
  position: relative;
  bottom: 40px;
  top: 1px;
  margin: auto;
  width: auto;
  height: 23px;
  margin-top: 10px;
}

ul li {
  position: relative;
  list-style: none;
  float: left;
  margin-left: 30px;
  width: 100px;
  height: 30px;
}

ul li a { 
  text-decoration: none;
  font-family: cursive;
  display: block;
  color: black;
  cursor: pointer;
}


ul li a:hover {
    -webkit-transform: rotate(1deg);
}


ul ul {
  position: absolute;
  visibility :hidden;
}

.response{
  clear: both;
  display: block;
  text-align: center;
  top: 10px;
  width: 1500px;
  height: 600px;
}

ul ul li a {
  clear: both;
  width: auto;
  display: block;
  text-align: center;
  width: 150px;
  height: 30px;
  display: block;
  border-top: 2px solid white;
  margin-left: -100px;
  color:  #6e6e71;
  background-color: white;
}


.menu ul li:hover ul {
  visibility: visible;

}



/*-----Fotobereich-----*/

#slide {
 top: 10px;
 width: 1333px;
 height: 600px
}
#total{
    
}




/*-----Divbereich-----*/

#reste {
 width: auto;
 height: 300px;
 
 position: relative;
 bottom: 25px;
}


#service {
 width: 430px;
 height: 210px;
 background-color:  #d3d3d8;
 float: right;
 text-align: center;
}

#capability {
 width: 440px;
 height: 240px;
 background-color: #d3d3d8;
 position:relative;
 float: right;
 margin-right: 10px;
 text-align: center;
 top: 1px;
 bottom: 10px;
}

#anforderung {
 width: 443px;
 height: 240px;
 position: relative;
 top: 1px;
 text-align: justify;
 background-color:   #d3d3d8;
}


#anforderung a {
 color:  #1e1ea0;
 font-weight: bold;
 position: relative;
 top: 30px;
 left: 150px;
}

#capability a {
 color:  #1e1ea0;
 font-weight: bold;
 position: relative;
 top: 30px;
 left: 10px;
}

#service a {
 color:  #1e1ea0;
 font-weight: bold;
 position: relative;
 top: 30px;
 left: 10px;
}

#service input {
 position: relative;
 left: 10px;
}

#service button{
 position: relative;
 left: 50px;
}

#anforderung input {
 position: relative;
 left: 140px;
}

#anforderung button {
 position: relative;
 left: 140px;
}


#capability button {
 position: relative;
}


button {
  border-style: solid;
  border-radius: 5px; 
  background-color: white;
}


input {
  border-radius: 5px; 
  background-color: white;
}



/*-----footer-----*/

footer {
  color: red;
  text-shadow: 2px 2px 3px black;
}
