/*#head {
 width:
 height:
 background-color: 
}  */

#logo {
  width: 200px;
  height: 100px;
  background-color: black;
  position: relative;
  left: 1100px;
  bottom: 40px;
}


body, html{
  padding: 0px;
}

body, b {
  color:  #919192;
  position: relative;
  top: 10px;
}
     
#name {
  color: black;
  width: 150px;
  height: 20px; 
  position: relative;
  bottom: 70px;
  left: 50px;
}


.suchen {
 text-align: center;
}



/*-----Navigationbereich-----*/

.suche {
 float: right;
 position: relative;
 right: 10px;
 top: 5px; 
}


.menu {
  position: relative;
  bottom: 40px;
  top: 1px;
  margin: auto;
  width: auto;
  height: 23px;
  margin-top: 10px;
}

ul li {
  position: relative;
  list-style: none;
  float: left;
  margin-left: 30px;
  width: 100px;
  height: 30px;
}

ul li a { 
  text-decoration: none;
  font-family: cursive;
  display: block;
  color: black;
}


ul li a:hover {
    -webkit-transform: rotate(1deg);
}


ul ul {
  position: absolute;
  visibility: hidden;
}


ul ul li a {
  clear: both;
  width: auto;
  display: block;
  text-align: center;
  width: 150px;
  height: 30px;
  display: block;
  border-top: 2px solid white;
  margin-left: -100px;
  color:  #6e6e71;
  background-color: white;
  cursor:pointer;
}


.menu ul li:hover ul {
  visibility: visible;

}



/*-----Fotobereich-----*/

.slide {
 top: 10px;
}




/*-----Divbereich-----*/


button {
  border-style: solid;
  border-radius: 5px; 
  background-color: white;
  cursor:pointer;
}


#image {
  position: absolute;
  top: 230px;
  width: auto;
  height: auto;
  z-index:1;
}


#content {
  position: absolute;
  width: 1000px;
  z-index:2;
  background: transparent;
  left: 180px;
  top: 100px;
}


#off {
  width: 400px;
  height: 300px;
  background-color: #bebec0;
  opacity: 0.8;
  color:  #1832c4;
  text-align: center;
  font-weight: bold;
}

#offproj {
 position: absolute;
 top: 38px;
 width: 400px;
 height: 262px;
 background-color: black;
 overflow: auto;
 text-align: center;
 font-weight: lighter;
}

#offproj, a {
 text-decoration: none;
 color:   #0721b2;
}


#zu {
  width: 400px;
  height: 300px; 
  float: right;
  background-color: #bebec0;
  position: relative;
  bottom: 300px;
  opacity: 0.8;
  color:  #1832c4;
  text-align: center;
  font-weight: bold;
}


#zuproj {
 position: absolute;
 top: 38px;
 width: 400px;
 height: 262px;
 background-color: black;
 overflow: auto;
 text-align: center;
 font-weight: lighter;
}

#zuproj, a {
 text-decoration: none;
 color:  #1832c4;
}

#zuproj, b {
  color:   #0520b9;
}




/*------Anforderung-----*/


#anforderung {
  position: relative;
  top: 20px;
  font-weight: bold;
  width: 300px;
  height: 180px;
  background-color: #bebec0;
  opacity: 0.8;
}


#anforderung, b {
  text-align: center;
  color:   #0520b9;
}




/*------Capability-----*/


#capability {
  position: relative;
  left: 350px;
  bottom: 160px;
  font-weight: bold;
  width: 300px;
  height: 180px;
  background-color: #bebec0;
  opacity: 0.8;
}


#capability, b {
  text-align: center;
  color:   #0520b9;
}




/*------Capability-----*/


#service {
  position: relative;
  left: 700px;
  bottom: 340px;
  font-weight: bold;
  width: 300px;
  height: 180px;
  background-color: #bebec0;
  opacity: 0.8;
}


#service, b {
  text-align: center;
  color:   #0520b9;
}




/*-----footer-----*/

#foot {
 width: auto;
 height: 160px;
 background-color:   #edeef3;
 border-style: none;
}
