/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01.12.2018, 01:42:50
    Author     : ncypr
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.11.2018, 13:16:10
    Author     : ncypr
*/

body, b {
  color:  #919192;
  position: relative;
  top: 10px;
}

.element {
 width: 430px;
 height: 210px;
 background-color:  #d3d3d8;
 float: right;
 text-align: center;
 align-content: center;
}


.element a {
 color:  #1e1ea0;
 font-weight: bold;
 position: relative;
 top: 30px;
 left: 10px;
}
.element input {
 position: relative;
 left: 10px;
 width: 50%;
}
.element button{
 position: relative;
 left: 500px;
}

button {
  border-style: solid;
  border-radius: 5px; 
  background-color: white;
}

input {
  border-radius: 5px; 
  background-color: white;
}
/*
.neue ul li:hover ul {
  visibility: visible;

}  */

ul ul li a {
  clear: both;
  width: auto;
  display: block;
  text-align: center;
  width: 150px;
  height: 30px;
  display: block;
  border-top: 2px solid white;
  margin-left: -100px;
  color:  #6e6e71;
  background-color: white;
}

#menu ul li:hover ul {
  visibility: visible;

}

ul li {
  position: relative;
  list-style: none;
  float: left;
  margin-left: 30px;
  width: 100px;
  height: 30px;
}
ul li a { 
  text-decoration: none;
  font-family: cursive;
  display: block;
  color: black;
}

#name {
  color: black;
  width: 150px;
  height: 20px;
  position: relative;
  top: 40px;
  left: 15px;
 
}

#cc {
    background-color:bisque;
}


#suchen {
 position: relative;
 left:  600px;
}



/*-----Navigationbereich-----*/

#suche {
 position: center;
 margin-left: 100px;
 float: right;
 border: solid;
 border-color: #808089; 
}


#menu {
  position: relative;
  bottom: 40px;
  top: 1px;
  margin: auto;
  width: auto;
  height: 23px;
  margin-top: 10px;
  background-color: buttonface;
}

ul li a:hover {
    -webkit-transform: rotate(1deg);
}
ul ul {
  position: absolute;
  visibility: hidden;
}



table, th, td {
    border: 1px solid white;
}
table{
    width:50%;
    align-content: center; 
    text-align: center;
    margin: 0 auto;
}
th,td{
    background-color:gainsboro;
    padding: 15px;
}



table input{
    width: 100%;
    
    
}
table button{
    width: 100px;
    height: 30px;
}

#foot{
    background: bisque;
}